<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="color-scheme" content="light dark" />
    <meta name="supported-color-schemes" content="light dark" />
    <title></title>
  </head>
  <body>
    <h1>Email from: {{email}}</h1>
    <br />
    <h2>Subject: {{subject}}</h2>
    <br />
    <p>Message: {{message}}</p>
    <br />
    <br />
    <p>Sent from: {{browser}} on {{os}} at {{time}}</p>
  </body>
</html>
