<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="color-scheme" content="light dark" />
    <meta name="supported-color-schemes" content="light dark" />
    <title></title>
  </head>
  <body>
    <p>Here is your verification code:</p>
    <h3>{{code}}</h3>

    <p>
      For security, this request was received from a {{operating_system}} device
      using {{browser_name}}. If you did not request a password reset, please
      ignore this email or
      <a href="{{support_url}}">contact support</a> if you have questions.
    </p>
    <p>Thanks, <br />The Pain Track team</p>
  </body>
</html>
